@charset "UTF-8";
/* CSS Document */


@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);
/* Base */


.banner1 {
    font-size: 7vw;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner2 {
    font-size: 3.5vw;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 50px;
}

.banner4 {
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
}